@font-face {
	font-family: "digital-7";
  src: url(../digital-7.ttf);
}
    
body {
  background-color: #000;
  color: #cccccc;
	margin: 0;
}
.half {
  width: 50%;
  text-align: center;
  float: left;
}

.third {
  width: 48%;
}
    
.name {
  font-size: 6em;
}
    
.score {
  float: left;
  font-size: 12em;
  margin: 0 auto;
  text-align: center;
}

.time{
  font-size: 5em;
  margin: 0 auto;
  padding-top: 10px;
  width: 250px;
  font-family: "digital-7";
	position: relative;
	z-index: 20;
}

.timecolon{
  float: left;
  font-size: 5em;
  margin: 0 auto;
  text-align: center;  
  padding-top: 10px;
  width: 20px;
  font-family: "digital-7";
}

.colon {
	float: left;
	font-size: 12em;
  margin-top: -0.05em;
  text-align: center;
  width: 20px;
}

.leftBckg {
	opacity: 0;
	background-color: #006699;
	width: 50%;
	height: 100%;
	float: left;
}

.rightBckg {
	opacity: 0;
	background-color: #006699;
	width: 50%;
	height: 100%;
	float: right;
}

#main{
  width: 100%;
  height: 100%;
	position: absolute; 
}
    

#names{
  height: 150px;
}

#scores{
	height: 200px;
}

#timeBar {
	width: 300px;
	margin: 0 auto;
}

#startStop{
  height: 60px;
  width: 350px;
  margin: 0 auto;
}

#scored {
  height: 40px;
}



button {
	width: 150px;
  margin: 0 auto;
  font: lighter 22px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #006699;
	position: relative;
	z-index: 20;
	cursor: pointer;
}

.element {
	position: relative;
	z-index: 20;
}

.element1 {
	position: relative;
	z-index: 20;
}

.element2 {
	position: relative;
	z-index: 20;
}

.goalLText {
	font-size: 6em;
  color: #cccccc;
	position: absolute;
	left: 5px;
	bottom: 5px;
	z-index: 20;
}

.goalRText {
  font-size: 6em;
	color: #cccccc;
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 20;
}

#panel {
  background: #b08e30;	
	position: relative;
	width: 300px;
	height: 150px;
	display: none;
  margin: 0 auto;
	z-index: 50;
}

.btn-slide {
	background-color: #220bff no-repeat center top;	
	padding: 10px;
	margin: 0 auto;
	display: block;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	z-index: 50;
}

.slide {
	margin: 0;
	padding: 0;
  margin: 0 auto;
  width: 300px;
	height: 30px;
  background: #b08e30;	
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius:    0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

#underMain {
	width: 100%;
	position: absolute;
	z-index: 50;
} 
.active {
	background-position: right 12px;
}

