@font-face {
    font-family: "digital-7";
  src: url(../digital-7.ttf);
}

body {
  background-color: #000;
  color: #cccccc;
  margin: 0;
  font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
}

#main{
  width: 100%;
  height: 100%;
	position: absolute;
}

.wholeEvent {
	padding-top: 20px;
	width: 50%;
	float: left;

}

.matches {	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7089b3), color-stop(100%, #7089b3));
  background-image: -webkit-linear-gradient(top, #7089b3, #7089b3);
  background-image: -moz-linear-gradient(top, #7089b3, #7089b3);
  background-image: -ms-linear-gradient(top, #7089b3, #7089b3);
  background-image: -o-linear-gradient(top, #7089b3, #7089b3);
  background-image: linear-gradient(top, #7089b3, #);
  border-top: 1px solid #7089b3;
  border-right: 1px solid #7089b3;
  border-bottom: 1px solid #7089b3;
  border-left: 1px solid #7089b3;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 0px 18px 18px 18px;
  -webkit-box-shadow: inset 0 1px 0 0 #7089b3;
  -moz-box-shadow: inset 0 1px 0 0 #7089b3;
  -ms-box-shadow: inset 0 1px 0 0 #7089b3;
  -o-box-shadow: inset 0 1px 0 0 #7089b3;
  box-shadow: inset 0 1px 0 0 #7089b3;
  color: #1a3e66;
  font: normal 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	width: 97%;
	height: 35%;
	margin: 0 auto;
	color: #fff;
  font: bold 40px "helvetica neue", helvetica, arial, sans-serif;
	text-align: center;
}

.eventName {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7089b3), color-stop(100%, #7089b3));
  background-image: -webkit-linear-gradient(top, #7089b3, #7089b3);
  background-image: -moz-linear-gradient(top, #7089b3, #7089b3);
  background-image: -ms-linear-gradient(top, #7089b3, #7089b3);
  background-image: -o-linear-gradient(top, #7089b3, #7089b3);
  background-image: linear-gradient(top, #7089b3, #);
  border-top: 1px solid #7089b3;
  border-right: 1px solid #7089b3;
  border-bottom: 1px solid #7089b3;
  border-left: 1px solid #7089b3;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px 18px 0px 0px;
  -webkit-box-shadow: inset 0 1px 0 0 #7089b3;
  -moz-box-shadow: inset 0 1px 0 0 #7089b3;
  -ms-box-shadow: inset 0 1px 0 0 #7089b3;
  -o-box-shadow: inset 0 1px 0 0 #7089b3;
  box-shadow: inset 0 1px 0 0 #7089b3;
  color: #fff;
	margin-left: -1px;
	padding: 0 20px;
  font: bold 40px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	text-decoration: underline;
}

.eventDiv {
	width: 97%;
	margin: 0 auto;
}

.match {
	width: 97%;
	margin: 0 auto;
}

.leftName {
	width: 40%;
	text-align: center;	
	float: left;
}

.rightName {
	width: 40%;
	text-align: center;
	float: right;
}

.score {
	width: 20%;
	text-align: center;
	float: left;
}

.resultTable {
	text-align: center;
	color: #ffffff;
	font-size: 70%;
}

.resultDiv {
	text-align: center;
}

.name {
	min-width: 250px;
	text-align: left;
}

.resultTable > td, th {
	padding: 0 5px;
}

.points  {
	background-color: #8c9cbf;
}

.odd {
	background-color: #ffffff;	
}

.even {
	background-color: #8c9cbf;	
}








