{snippet}
<table class='matchTable'>
        {foreach $unplayed as $match}
        <tr>
                <td class='left'> 
                    {if $links}
                        <a href="{plink Match:play $match->id}">
                                {$names[$match->team1ID]->name}
                        </a>
                    {else}
                                {$names[$match->team1ID]->name}
                    {/if}
                </td>
                {if $links}
                <td><strong>vs.</strong></td>
                {else}
                <td><strong>{$match->team1goals} : {$match->team2goals}</strong></td>
                {/if}

                <td class='right'> 
                    {if $links}
                        <a href="{plink Match:play $match->id}">
                                {$names[$match->team2ID]->name}
                        </a>
                    {else}
                                {$names[$match->team2ID]->name}
                    {/if}
 
                </td>

        </tr>


        {/foreach}
        
        {if $matches->count() == 0 && $links }

                No matches found. 
                <a href="{plink Match:generate $group}"> 
                        Generate them!
                </a>

        {elseif $unplayed->count() == 0 }
                No matches found.
        {/if}

        
</table>
{/snippet}
