{block #content}

<h1> {$group->name} </h1>

<div>
<a class="button smaller" href="{plink Group:edit $group->id}"> Edit </a>  
<a class="button smaller blue" href="{plink Team:new $group->id}"> New team</a>
<a class="button smaller red" href="{plink Group:delete $group->id}"> Delete </a>
</div>


<div>
        <div style="float: left; padding-top: 20px;padding-right: 120px;">
        {control teamList $group->id}
        </div>
        <div style="float: left;padding-top: 20px;">
        <strong style="font-size: 120%"> Upcomming matches: </strong>
        {control matchList $group->id}
        </div>
<div style="clear: both" ></div>
</div>


